# ==============================
# PYTHON
# ==============================

__pycache__/
*.py[cod]
*$py.class

# ==============================
# VIRTUAL ENVIRONMENT
# ==============================

venv/
env/
ENV/

# ==============================
# JUPYTER NOTEBOOK
# ==============================

.ipynb_checkpoints/

# ==============================
# STREAMLIT
# ==============================

.streamlit/

# ==============================
# FASTAPI / UVICORN
# ==============================

*.log

# ==============================
# MODEL FILES
# ==============================

*.pkl
*.joblib

# ==============================
# DATASETS
# ==============================

*.csv
*.xlsx
*.json

# ==============================
# ENVIRONMENT VARIABLES
# ==============================

.env

# ==============================
# VS CODE
# ==============================

.vscode/

# ==============================
# PYCHARM
# ==============================

.idea/

# ==============================
# OS FILES
# ==============================

.DS_Store
Thumbs.db

# ==============================
# BUILD FILES
# ==============================

build/
dist/
*.egg-info/

# ==============================
# CACHE
# ==============================

.cache/
.pytest_cache/
.mypy_cache/

# ==============================
# TEMP FILES
# ==============================

*.tmp
*.temp